<div *ngIf="!movie">
  <div class="my-4 text-center">
    <app-loader></app-loader>
  </div>
</div>
<div class="card text-bg-dark" *ngIf="movie">
  <img src="{{ backdrop }}" class="card-img" alt="..." />
  <div class="card-img-overlay">
    <div class="card h-100 bg-opacity-50 text-bg-dark">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ image }}" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ movie.original_title }}</h5>
            <p class="card-text">
              {{ movie.overview }}
            </p>
            <p class="card-text">
              {{ movie.release_date | date }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
